@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F4F3;
}
.Boton-Volver{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 40px;
    background-color: #3AB397;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: white;
}
.Contenedor{
    width: 800px;
    height: 500px;
    display: flex;
    position: relative;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(0,0,0,0.3);
}
.Contenedor-Formulario{
    width: 100%;
    overflow: hidden;
}
.Contenedor-Formulario form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in;
}
.Contenedor-Formulario h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.Contenedor-Formulario span{
    font-size: 12px;
    margin-bottom: 15px;
}
.Contenedor-Input{
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 15px;
    background-color: #EEEEEE;
}
.Contenedor-Input input{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
}
.Contenedor-Formulario a{
    color: black;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.Boton{
    width: 170px;
    height: 45px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #3AB397;
    color: white;
}
/* Animaciones */
.Registrarse{
    transform: translateX(-100%);
}
.Contenedor.toggle .Inicio-de-Sesion{
    transform: translateX(100%);
}
.Contenedor.toggle .Registrarse{
    transform: translateX(0);
}
/* Bienvenido */
.Contenedor-Bienvenido{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    background-color: #3AB397;
    transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
    overflow: hidden;
    border-radius: 50% 0 0 50%;
}
.Contenedor.toggle .Contenedor-Bienvenido{
    transform: translateX(0);
    border-radius: 0 50% 50% 0;
    background-color: #3AA8AD;
}
.Contenedor-Bienvenido .Bienvenido{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 50px;
    color: white;
    transition: transform 0.5s ease-in-out;
}
.Bienvenido-Sesion{
    transform: translateX(100%);
}
.Contenedor-Bienvenido h3{
    font-size: 40px;
}
.Contenedor-Bienvenido p{
    font-size: 14px;
    text-align: center;
}
.Contenedor-Bienvenido .Boton{
    border: 2px solid white;
    background-color: transparent;
}
.Contenedor.toggle .Bienvenido-Sesion{
    transform: translateX(0);
}
.Contenedor.toggle .Bienvenido-Registro{
    transform: translateX(-100%);
}